<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <!-- Base Directory -->
    <add key="Directory.Setup" value="C:\" />
    <!--<add key="Directory.Setup" value="C:\Sisfarma.es\Setup\Sincronizador\" />-->
    <!-- Setup Files -->
    <add key="File.Local.Server" value="server_local.txt" />
    <add key="File.Local.Base" value="base_local.txt" />
    <add key="File.Local.User" value="usuario_local.txt" />
    <add key="File.Local.Pass" value="pass_local.txt" />
    <add key="File.Remote.Server" value="server_remoto.txt" />
    <add key="File.Remote.Base" value="base_remoto.txt" />
    <add key="File.Market.Code.List" value="cod_lista_tienda.txt" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />

      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="FisiotesContext" connectionString="persistsecurityinfo=True;server=sisfarma.es;user id=fisiotes_fede;password=tGLjuIUr9A;database=fisiotes_pruebas;allowzerodatetime=True;convertzerodatetime=True;Pooling=false;Connection Lifetime=1; Max Pool Size=1" providerName="MySql.Data.MySqlClient" />
    <!--<add name="FisiotesContext" connectionString="persistsecurityinfo=True;server=localhost;user id=root;password=mysqlpass;database=fisiotes_pruebas;allowzerodatetime=True;convertzerodatetime=True;Pooling=false;Connection Lifetime=1; Max Pool Size=1" providerName="MySql.Data.MySqlClient" />-->
    <add name="FarmaticContext" connectionString="data source=DESKTOP-VIH48NH\SQLEXPRESS;initial catalog=Farmatic;persist security info=True;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConsejoContext" connectionString="data source=FEDERICO-PC\SQLEXPRESS;initial catalog=Consejo;persist security info=True;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>